.btnLogin {
    width: 95%;
    background-color: #2c2eaf;
    color: white;
    padding: 10px 13px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration-style: solid;
    font-family: consolas;
    font-size: medium;
}
  
.btnLogin:hover {
    background-color: #222480;
}

.btnReg {
    width: 95%;
    background-color: #15ad01;
    color: white;
    padding: 10px 13px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration-style: solid;
    font-family: consolas;
    font-size: medium;
}
  
.btnReg:hover {
    background-color: #159603;
}

.btnEn {
    width: 95%;
    background-color: #aaad01;
    color: white;
    padding: 10px 13px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration-style: solid;
    font-family: consolas;
    font-size: medium;
}
  
.btnEn:hover {
    background-color: #9da002;
}

.btnProceed {
    width: 95%;
    background-color: #009e9e;
    color: white;
    padding: 10px 13px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration-style: solid;
    font-family: consolas;
    font-size: medium;
}
  
.btnProceed:hover {
    background-color: #008080;
}

.btnPost {
    width: 45%;
    background-color: #001d9e;
    color: white;
    padding: 10px 13px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration-style: solid;
    font-family: consolas;
    font-size: medium;
}
  
.btnPost:hover {
    background-color: #011779;
}

.btnBookmark {
    background-color: #05968a;
    color: white;
    padding: 5px 6.5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration-style: solid;
    font-family: consolas;
    font-size: medium;
}
  
.btnBookmark:hover {
    background-color: #047e74;
}

.linkBtn1:link, .linkBtn1:visited {
    background-color: #05968a;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.linkBtn1:hover, .linkBtn1:active {
    background-color: #047e74;
}

.linkBtn2:link, .linkBtn2:visited {
    background-color: #027529;
    width: calc(25%);
    color: white;
    padding: 12px 16px;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.linkBtn2:hover, .linkBtn2:active {
    background-color: #036323;
}

.linkBtn3:link, .linkBtn3:visited {
    background-color: #178800;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.linkBtn3:hover, .linkBtn3:active {
    background-color: #116401;
}

.linkBtn4:link, .linkBtn4:visited {
    background-color: #9b0101;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.linkBtn4:hover, .linkBtn4:active {
    background-color: #700202;
}

.linkBtn5:link, .linkBtn5:visited {
    background-color: #c99c09;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.linkBtn5:hover, .linkBtn5:active {
    background-color: #b68d08;;
}